.header2 {
  order: 2;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.menu {
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;     
  font-weight: 575;
}
 



